@{
	ViewData["Title"] = "Bad request";
}

<ol class="breadcrumb">
	<li><i class="fa fa-home" aria-hidden="true"></i> <a href="/">Home</a></li>
</ol>


<div class="text-center">
	<h1>@ViewBag.Title <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
	<p class="lead">Unfortunatly we could find the resource you where looking for.</p>
</div>