<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Helper.RenderTitle(ViewData["Title"]?.ToString())</title>

        <environment names="Development">
	        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
	        <link rel="stylesheet" href="~/css/font-awesome.css"/>
			<link rel="stylesheet" href="~/css/ekko-lightbox.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production,Demo">
	        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
	              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
	              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>Core Browser on <a href="https://github.com/ollejacobsen/corebrowser">GitHub</a></p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
	        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	        <script src="~/js/stupidtable.js"></script>
			<script src="~/js/ekko-lightbox.js"></script>
	        <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
    <environment names="Staging,Production,Demo">
	    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
	            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
	            asp-fallback-test="window.jQuery">
            
    	</script>
	    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
	            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
	            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">	
    	</script>
	    <script src="~/js/site.min.js" asp-append-version="true"></script>
		@if (!string.IsNullOrWhiteSpace(Helper.GoogleUA))
		{
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', '@Helper.GoogleUA', 'auto');
			ga('send', 'pageview');
		</script>
		}
    </environment>

    @RenderSection("scripts", required: false)
    </body>
</html>
